*{
    padding: 0%;        
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(56, 155, 241);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.int{ 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 70%;
    border: 2.5px dashed black;
    padding: 0 20px;
    background-color: orange;
}

.l /*link*/{
    display: flex;
    padding: 0 20px;
    gap: 1rem;
    border-left: 2.5px dashed black;
    border-right: 2.5px dashed  black;
}

/*fine header*/

.container{
    display: flex;  
    
}
.s {
height: 300px;
}

.m{
    height: 450px;
}

.b{
    height: 600px;
}


 /*fine proprietà dimensione container*/


.blue{
    background-color: rgb(3, 3, 132);
}

.white{
    background-color: rgb(242, 242, 245);
}

.gray{
    background-color: gray;
}

/*fine proprietà colore container*/


.rectangular{
    display: flex;
    margin:auto;
    height: 200px;
    width: 500px;
    background-color: rgb(177, 15, 153);
    border: 5px dashed rgb(11, 11, 11);
}

.rmedium{
    display: flex;
    flex-basis: 70%;
    background-color: rgb(134, 232, 248);
    margin: auto;
    height: 200px;
    width: 500px;
    border: 5px dashed rgb(11, 11, 11);
}

.rsmall{
    display: flex;
    flex-basis: 30%;
    background-color: rgb(255, 48, 231);
    border-right: 5px dashed  black;
}

.a{
    background-color: aqua;
}

.p{
    background-color: pink;
}





