*{
    padding: 0%;        
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(56, 155, 241);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.int{ 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 70%;
    border: 4px dashed gray;
}

.b{
    display: flex;
    padding: 0 20px;
    border-left: 4px dashed gray;
    border-right: 4px dashed gray;
}



